# user files
.idea
*.DotSettings.user
packages/

# build output
SoMRandomizer/bin/
SoMRandomizer/obj/

SoMRandomizerDotNetStandard/*/bin/
SoMRandomizerDotNetStandard/*/obj/

# run output files
log_*.txt
